.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: #f9fafc;
}

.cafeName {
  font-size: 24px;
  color: #1e293b;
  text-decoration: none;
}

.logoutButton {
  background-color: #ef4444;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
}

.heading-link {
  text-decoration: none;
}
