.dish-item-container {
  display: flex;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 2);
  margin-bottom: 15px;
  padding: 15px;
}

.box {
  width: 20px;
  height: 20px;
  border: 2px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 2px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.dish-count-container {
  width: 20%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: green;
}

.dishCount {
  margin-left: 10px;
  margin-right: 10px;
}

.dishImage {
  height: 100px;
}
